<% provide(:title, "Home") %>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        <div class="content"><%= render 'home_text' %></div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container has-text-centered page__last-element">
    <%= link_to "Start here", emissions_form_path,
      class: "button is-link is-rounded" %>
  </div>
</section>


