<section class="section">
  <div class="container has-text-centered">
    <h2 class="title is-3">Climate change is a massive challenge.</h2>

    <h2 class="title is-3">Green foot prints helps you understand how your whanau contributes to
      climate change. We hope this helps you take action to
      reduce your greenhouse gas emissions.</h2>

    <h2 class="title is-3">The calculators in this website have been specifically developed for
      Kiwis.<h2>

    <h2 class="title is-3"> Go on ... every journey starts with a single step. </h2>
  </div>
</section>
<section>
  <div class="container has-text-centered page__last-element">
    <%= link_to "Start here", emissions_form_path, class: "button is-link" %>
  </div>
</section>


