<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <%= link_to "Calculate yor emissions", emissions_form_path, class: "button is-link" %>
    </div>
  </div>
</section>


