<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <ul>Files sucessfully processed</ul>
    <% @processed_files.each do |file| %>
      <li><%= file  %> </li>
    <% end %>
    <% if @processed_files.empty? %>
      <li>No files today</li>
    <% end %>
  </body>
</html>