<div class='form__car'>

  <%= render partial: 'emissions_form/car_form_fuel_input',
    locals: {
      fuel_type: "Regular Petrol",
      class_fuel_modifier: "reg-petrol",
      amount_input_id: :regular_petrol_amount
    }
  %>


  <div class='field has-text-centered'>
      <%= button_tag('Next', type: 'button', disabled: true, class: 'button is-link is-rounded button__next--power') %>
    </div>
  </div>
</div>