<div class="field toggle__<%= class_fuel_modifier %>" >
  <input id="switchRoundedDefault" type="checkbox" name="switchRoundedDefault" class="switch is-rounded">
  <label class="label" for="switchRoundedDefault"><%= fuel_type %></label>
</div>
<div class="field is-horizontal is-hidden form__car--<%= class_fuel_modifier %>">
  <div class="field-body">
    <div class="field">
      <p class="control is-expanded">
        <div class="select is-primary">
          <select>
            <option>For last week</option>
            <option>For last month</option>
          </select>
        </div>
      </p>
      <div class="form__errmessage"></div>
    </div>
    <div class="field">
      <p class="control is-expanded">
          <%= text_field_tag(amount_input_id, value=nil, type: 'number', class: 'input is-primary', placeholder: 'Enter purchases in $') %>
      </p>
      <div class="form__errmessage"></div>
    </div>
  </div>
</div>