<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="is-size-4">You emitted <%= @total_emissions %> kilograms of greenhouse gases </h2>
      <h2 class="is-size-4">for the month of <%= Date::MONTHNAMES[Date.parse(Time.new.to_s).prev_month.month] =%> </h2>
      </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-two-thirds has-text-centered">
        <div id="chartContainer"><%= get_user_emissions_chart(@user_emissions).render() %></div>
      </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-two-thirds has-text-centered">
        <div id="piechartContainer"><%= get_trader_emissions_chart(@trader_emissions).render() %></div>
      </div>
  </div>
</section>