
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

$family-sans-serif: "Nunito", sans-serif;
$family-primary: $family-sans-serif;
$family-secondary: 'Black Han Sans', sans-serif;
@import 'bulma-extensions';
@import "bulma";

.navbar {
  border-bottom: 0.5px solid $light;
  padding-bottom: 1.0rem;
}

.navbar-brand {
  background-color: rgb(121, 248, 121);
  border-radius: 0.5rem 1.0rem;
}


