<footer class="footer">
  <div class="container">
    <div class="level">
      <p class="level-item has-text-centered">
        <%= link_to "Home", root_path, class: "navbar-item" %>
      </p>
      <p class="level-item has-text-centered">
        <%= link_to "About", about_path, class: "navbar-item" %>
      </p>
      <p class="level-item has-text-centered">
        <%= link_to "Contact", contact_path, class: "navbar-item" %>
      </p>
    </div>

    <div class="level">
      <div class="level-item">
        <span class="icon is-small is-left">
          <%= fa_icon "copyright" %>
        </span>
        <p class="content">
          2018 Steve Torrens
        </p>
      </div>
    </div>
  <div>
</footer>