<footer class='footer'>
  <div class='container'>
    <div class='level'>
      <div class='level-left'>
        <div class='level-item footer--logo has-text-centered-mobile'>
          <h1 class='title is-6 has-text-white is-family-secondary'> Green Foot Prints </h1>
        </div>
      </div>
      <div class='level-right is-size-7 has-text-weight-semibold'>
        <p class='level-item'>
          <%= link_to 'About', about_path, class: 'has-text-grey-darker footer--menu' %>
        </p>
        <p class='level-item'>
          <%= link_to 'Contact Us', contact_path, class: 'has-text-grey-darker footer--menu' %>
        </p>
        <p class='level-item'>
          <%= link_to 'Disclaimer and copy right', disclaimer_path, class: 'has-text-grey-darker footer--menu' %>
        </p>
      </div>
    </div>
    <div class='level footer--copyright'>
      <div class='level-left'>
        <div class='level-item'>
        </div>
      </div>
      <div class='level-right is-size-7'>
        <div class='level-item'>
          <span class='icon is-small'>
            <%= fa_icon 'copyright' %>
          </span>
          <p class='content'>
            2018 Steve Torrens
          </p>
        </div>
      </div>
    </div>
  <div>
</footer>