<nav class="navbar is-fixed-top">
  <div class="container">

    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="title is-3 has-text-success"> Green Foot Prints </h1>
      </div>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <%= link_to "Home", root_path, class: "navbar-item has-text-success" %>
        <%= link_to "About", about_path, class: "navbar-item" %>
        <%= link_to "Contact", contact_path, class: "navbar-item" %>
      </div>
    </div>

  </div>
</nav>