<nav class="navbar is-fixed-top">
  <div class="container">

    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="title is-5 has-text-white is-family-secondary"> Green Foot Prints </h1>
      </div>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <%= link_to "Home", root_path, class: "navbar-item is-size-4" %>
      </div>
    </div>

  </div>
</nav>